node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.git
.gitignore
README.md
.env
.nyc_output
coverage
.vscode
.DS_Store
*.log
build
.next
next_portfolio/node_modules
next_portfolio/.next
next_portfolio/dist
